{
  "openapi": "3.0.0",
  "info": {
    "title": "Stella IT 콘솔 API V2",
    "description": "클라우드 인스턴스 관리 API",
    "version": "2.0.0",
    "contact": {
      "name": "Stella IT 개발자",
      "email": "developers@stella-it.com"
    }
  },
  "servers": [
    {
      "url": "https://console-v2.stella-api.dev"
    }
  ],
  "tags": [
    {
      "name": "Core",
      "description": "핵심 API 정보 엔드포인트"
    },
    {
      "name": "Users",
      "description": "사용자 관리 및 정보"
    },
    {
      "name": "Instances",
      "description": "인스턴스 관리 작업"
    },
    {
      "name": "Plans",
      "description": "플랜 관리 및 정보"
    },
    {
      "name": "Orders",
      "description": "주문 관리 및 결제"
    },
    {
      "name": "Regions",
      "description": "리전 관리"
    },
    {
      "name": "Images",
      "description": "이미지 관리"
    },
    {
      "name": "Nodes",
      "description": "노드 관리"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "token_not_found",
              "invalid_token",
              "invalid_request",
              "insufficient_permission",
              "internal_server_error",
              "not_implemented",
              "not_found",
              "unauthorized",
              "forbidden",
              "unsupported_combo",
              "resource_already_allocated",
              "unsupported",
              "image_not_allowed",
              "contact_support",
              "setup_incomplete",
              "already_paid",
              "username_conflict",
              "payment_required"
            ]
          },
          "description": {
            "type": "string"
          }
        },
        "required": [
          "type"
        ]
      },
      "Instance": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "vmId": {
            "type": "string"
          },
          "nodeId": {
            "type": "string"
          },
          "planId": {
            "type": "string"
          },
          "imageId": {
            "type": "string"
          },
          "isSettingUp": {
            "type": "boolean"
          },
          "allowUserAction": {
            "type": "boolean"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Plan": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "config": {
            "type": "object"
          },
          "lineupId": {
            "type": "string"
          },
          "price": {
            "type": "integer"
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "price": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "paidAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "sub": {
            "type": "string"
          }
        }
      },
      "Region": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "isPublic": {
            "type": "boolean"
          }
        }
      },
      "Image": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "internalName": {
            "type": "string"
          },
          "isPublic": {
            "type": "boolean"
          }
        }
      },
      "Node": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "regionId": {
            "type": "string"
          },
          "isPublic": {
            "type": "boolean"
          }
        }
      },
      "PowerStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "running",
              "stopped",
              "unknown"
            ]
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "starttime": {
            "type": "integer"
          },
          "endtime": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Core"
        ],
        "operationId": "getApiInfo",
        "summary": "API 정보 가져오기",
        "responses": {
          "200": {
            "description": "API 정보",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hello": {
                      "type": "string"
                    },
                    "about": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "version": {
                          "type": "string"
                        },
                        "repository": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2": {
      "get": {
        "tags": [
          "Core"
        ],
        "operationId": "getApiVersion",
        "summary": "API 버전 정보 가져오기",
        "responses": {
          "200": {
            "description": "API 버전 정보",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "integer",
                      "example": 2
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/users/me": {
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "getCurrentUser",
        "summary": "현재 사용자 정보 가져오기",
        "responses": {
          "200": {
            "description": "현재 사용자 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "인증되지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/instances": {
      "get": {
        "tags": [
          "Instances"
        ],
        "operationId": "listInstances",
        "summary": "인스턴스 목록 조회",
        "parameters": [
          {
            "name": "full",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "userSub",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ip",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "인스턴스 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Instance"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/instances/{instanceId}": {
      "parameters": [
        {
          "name": "instanceId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Instances"
        ],
        "operationId": "getInstance",
        "summary": "인스턴스 상세 정보 가져오기",
        "parameters": [
          {
            "name": "full",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "인스턴스 상세 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Instance"
                }
              }
            }
          },
          "404": {
            "description": "인스턴스를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/instances/{instanceId}/power/status": {
      "parameters": [
        {
          "name": "instanceId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Instances"
        ],
        "operationId": "getInstancePowerStatus",
        "summary": "전원 상태 가져오기",
        "responses": {
          "200": {
            "description": "전원 상태",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PowerStatus"
                }
              }
            }
          },
          "403": {
            "description": "금지됨 또는 설정이 완료되지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "인스턴스를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/instances/{instanceId}/power/start": {
      "parameters": [
        {
          "name": "instanceId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Instances"
        ],
        "operationId": "startInstance",
        "summary": "인스턴스 시작",
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "결제 필요 (만료된 인스턴스)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "금지됨, 설정이 완료되지 않음, 또는 사용자 작업이 차단됨",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/instances/{instanceId}/power/stop": {
      "parameters": [
        {
          "name": "instanceId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Instances"
        ],
        "operationId": "stopInstance",
        "summary": "인스턴스 중지",
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "금지됨, 설정이 완료되지 않음, 또는 사용자 작업이 차단됨",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/instances/{instanceId}/power/shutdown": {
      "parameters": [
        {
          "name": "instanceId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Instances"
        ],
        "operationId": "shutdownInstance",
        "summary": "인스턴스 종료",
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "금지됨, 설정이 완료되지 않음, 또는 사용자 작업이 차단됨",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/instances/{instanceId}/power/reset": {
      "parameters": [
        {
          "name": "instanceId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Instances"
        ],
        "operationId": "resetInstance",
        "summary": "인스턴스 리셋",
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "금지됨, 설정이 완료되지 않음, 또는 사용자 작업이 차단됨",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/instances/{instanceId}/power/reboot": {
      "parameters": [
        {
          "name": "instanceId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Instances"
        ],
        "operationId": "rebootInstance",
        "summary": "인스턴스 재부팅",
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "금지됨, 설정이 완료되지 않음, 또는 사용자 작업이 차단됨",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/instances/{instanceId}/metrics": {
      "parameters": [
        {
          "name": "instanceId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Instances"
        ],
        "operationId": "getInstanceMetrics",
        "summary": "인스턴스 메트릭 가져오기",
        "responses": {
          "200": {
            "description": "인스턴스 메트릭",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/instances/{instanceId}/owners": {
      "parameters": [
        {
          "name": "instanceId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Instances"
        ],
        "operationId": "getInstanceOwners",
        "summary": "인스턴스 소유자 가져오기",
        "responses": {
          "200": {
            "description": "인스턴스 소유자 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Instances"
        ],
        "operationId": "addInstanceOwner",
        "summary": "인스턴스에 소유자 추가",
        "parameters": [
          {
            "name": "userSub",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Instances"
        ],
        "operationId": "removeInstanceOwner",
        "summary": "인스턴스에서 소유자 제거",
        "parameters": [
          {
            "name": "userSub",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/instances/{instanceId}/tasks": {
      "parameters": [
        {
          "name": "instanceId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Instances"
        ],
        "operationId": "getInstanceTasks",
        "summary": "모든 인스턴스 작업 가져오기",
        "responses": {
          "200": {
            "description": "작업 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  }
                }
              }
            }
          },
          "403": {
            "description": "지원되지 않는 인스턴스 유형",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/instances/{instanceId}/tasks/active": {
      "parameters": [
        {
          "name": "instanceId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Instances"
        ],
        "operationId": "getInstanceActiveTasks",
        "summary": "활성 인스턴스 작업 가져오기",
        "responses": {
          "200": {
            "description": "활성 작업 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/instances/{instanceId}/tasks/archived": {
      "parameters": [
        {
          "name": "instanceId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Instances"
        ],
        "operationId": "getInstanceArchivedTasks",
        "summary": "보관된 인스턴스 작업 가져오기",
        "responses": {
          "200": {
            "description": "보관된 작업 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/instances/{instanceId}/guest/os": {
      "parameters": [
        {
          "name": "instanceId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Instances"
        ],
        "operationId": "getGuestOsInfo",
        "summary": "게스트 OS 정보 가져오기",
        "responses": {
          "200": {
            "description": "게스트 OS 정보",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/instances/{instanceId}/guest/hostname": {
      "parameters": [
        {
          "name": "instanceId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Instances"
        ],
        "operationId": "getGuestHostname",
        "summary": "게스트 호스트명 가져오기",
        "responses": {
          "200": {
            "description": "게스트 호스트명",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/instances/{instanceId}/guest/interfaces": {
      "parameters": [
        {
          "name": "instanceId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Instances"
        ],
        "operationId": "getGuestInterfaces",
        "summary": "게스트 네트워크 인터페이스 가져오기",
        "responses": {
          "200": {
            "description": "게스트 네트워크 인터페이스",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2/plans": {
      "get": {
        "tags": [
          "Plans"
        ],
        "operationId": "listPlans",
        "summary": "플랜 목록 조회",
        "parameters": [
          {
            "name": "nodeId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "플랜 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Plan"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "operationId": "listOrders",
        "summary": "주문 목록 조회",
        "responses": {
          "200": {
            "description": "주문 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          },
          "403": {
            "description": "금지됨",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Orders"
        ],
        "operationId": "createOrder",
        "summary": "주문 생성",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "INSTANCE_CREATE",
                      "INSTANCE_EXTEND"
                    ]
                  },
                  "nodeId": {
                    "type": "string"
                  },
                  "imageId": {
                    "type": "string"
                  },
                  "planId": {
                    "type": "string"
                  },
                  "extras": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "name": {
                    "type": "string"
                  },
                  "hostname": {
                    "type": "string"
                  },
                  "instanceId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "생성된 주문",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/orders/{orderId}": {
      "parameters": [
        {
          "name": "orderId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Orders"
        ],
        "operationId": "getOrder",
        "summary": "주문 상세 정보 가져오기",
        "responses": {
          "200": {
            "description": "주문 상세 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "404": {
            "description": "주문을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/orders/{orderId}/payments": {
      "parameters": [
        {
          "name": "orderId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Orders"
        ],
        "operationId": "getOrderPaymentOptions",
        "summary": "결제 옵션 가져오기",
        "parameters": [
          {
            "name": "returnUri",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "결제 옵션",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "409": {
            "description": "이미 결제됨",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/orders/{orderId}/payments/billing": {
      "parameters": [
        {
          "name": "orderId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "Orders"
        ],
        "operationId": "processBillingPayment",
        "summary": "청구 결제 처리",
        "parameters": [
          {
            "name": "returnUri",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "청구 결과",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "409": {
            "description": "이미 결제됨 또는 이미 할당된 리소스",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/orders/{orderId}/payments/manual": {
      "parameters": [
        {
          "name": "orderId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Orders"
        ],
        "operationId": "getManualPaymentUrl",
        "summary": "수동 결제 URL 가져오기",
        "parameters": [
          {
            "name": "returnUri",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "수동 결제 URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "payAt": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "이미 결제됨 또는 이미 할당된 리소스",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/regions": {
      "get": {
        "tags": [
          "Regions"
        ],
        "operationId": "listRegions",
        "summary": "리전 목록 조회",
        "responses": {
          "200": {
            "description": "리전 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Region"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/images": {
      "get": {
        "tags": [
          "Images"
        ],
        "operationId": "listImages",
        "summary": "이미지 목록 조회",
        "parameters": [
          {
            "name": "nodeId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "이미지 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Image"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/nodes": {
      "get": {
        "tags": [
          "Nodes"
        ],
        "operationId": "listNodes",
        "summary": "노드 목록 조회",
        "parameters": [
          {
            "name": "regionId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "노드 목록",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Node"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}